* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid #000;
}

nav {
    min-height: 50px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

nav.dark {
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #fff;
}

nav.dark .toggle-slider{
    justify-content: flex-end;
    border: 1px solid #fff;
    background-color: #fff;
}

nav.dark .toggle-slider-circle {
    background-color: #000;
}

.toggle-mode {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.toggle-slider {
    width: 23px;
    height: 12px;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin: 0 4px;
    border: 1px solid #000;
    box-sizing: content-box;
}

.toggle-slider-circle {
    background-color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

main {
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.dark{
    background-color: #000;
    color: #fff;
}